MYSQL_ROOT_PASSWORD=substitua_por_uma_senha_root
MYSQL_DATABASE=sgv9
MYSQL_USER=admin
MYSQL_PASSWORD=substitua_por_uma_senha_segura

MYSQL_PORT=3306
PHPMYADMIN_PORT=8080
WEB_PORT=80

TZ=America/Sao_Paulo